/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/Z-Controllers
/Z-Policies
/Z-Routes
/Z-Views
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
