@tailwind base;

@tailwind components;

.btn {
    @apply inline-block rounded  px-4 py-2 bg-gray-900 text-white;
}

.btn-secondary {
    @apply inline-block rounded px-4 py-2 bg-indigo-600 text-white;
}

.btn-danger {
    @apply inline-block rounded px-4 py-2 bg-red-500 text-red-900;
}

.input-label {
    @apply block uppercase tracking-wide text-gray-500 text-xs mb-2;
}

.input-error {
    @apply text-red-500 text-xs italic mt-2;
}

.input-text {
    @apply appearance-none block w-full border border-gray-500 rounded py-2 px-3 leading-tight;
}

.input-invalid {
    @apply border-red-500
}

.input-text:focus {
    @apply outline-none border-gray-900;
}

@keyframes slidedown {
    from {
        margin-top: -25px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

.modal {
    animation: slidedown 0.2s;
}

.feather {
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

@tailwind utilities;
